/* フォント指定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

@layer components {
  /* 通常ボタン */
  .btn-primary {
    @apply block w-full mx-auto px-4 py-2 bg-[#d5e8f2]/70 backdrop-blur-lg border border-[#004681]/20 text-[#004681] font-bold text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-blue-300;
  }
  .btn-secondary {
    @apply block w-full mx-auto px-4 py-2 bg-[#f2d5d5]/70 backdrop-blur-lg border border-[#810002]/20 text-[#810002] font-bold text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-red-300;
 }
  .btn-thirdary {
    @apply block w-full mx-auto px-4 py-2 bg-[#d9d9d9]/70 backdrop-blur-lg border border-[#004681]/20 text-[#004681] font-bold text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-gray-400;
  }

  /* フォーム */
  .form-input {
    @apply w-full px-4 py-2 text-sm border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
  .form-label {
    @apply mx-auto max-w-md text-left block text-sm font-medium text-gray-700 mb-1;
  }

  /* aタグ用のスタイル */
  .atag {
    @apply text-[#810002] font-semibold hover:underline;
  }

  /* フラッシュメッセージ用のスタイル */
  .alert-success {
    @apply bg-[#d5f2dc] text-[#0f8100] p-1;
  }
  .alert-alert, .alert-danger {
    @apply bg-[#f2d5d5] text-[#810002] p-1;
  }

  /* ハンバーガーメニュー項目のスタイル 背景色に透明度を設定 */
  .hamburger-content {
    @apply bg-[#9ba9d0]/25 py-3 indent-5 text-[#004681] hover:bg-blue-300 border-b-2 border-[#004681]/25;
  }
}
