/* フォント指定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

@layer components {
  /* 通常ボタン */
  .btn-primary {
    @apply inline-block w-full mx-auto px-4 py-2 bg-[#d5e8f2] border border-[#004681] text-[#004681] font-bold text-base text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-blue-300;
  }
  .btn-secondary {
    @apply inline-block w-full mx-auto px-4 py-2 bg-[#f2d5d5] border border-[#810002] text-[#810002] font-bold text-base text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-red-300;
  }
  .btn-thirdary {
    @apply inline-block w-full mx-auto px-4 py-2 bg-[#d9d9d9] border border-[#004681] text-[#004681] font-bold text-base text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-gray-400;
  }

  /* 大型ボタン */
  .btn-primary-large {
    @apply inline-block w-full py-2 px-4 bg-[#d5e8f2] border border-[#004681] text-[#004681] font-bold text-xl text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-blue-300;
  }
  .btn-secondary-large {
    @apply inline-block w-full py-2 px-4 bg-[#f2d5d5] border border-[#810002] text-[#810002] font-bold text-xl text-center rounded-lg drop-shadow-lg cursor-pointer hover:bg-red-300;
  }
  .btn-thirdary-large {
    @apply inline-block w-full bg-[#d9d9d9] border border-[#004681] text-center text-[#004681] font-bold py-2 px-4 text-xl rounded-lg drop-shadow-lg cursor-pointer hover:bg-gray-400;
  }

  /* フォーム */
  .form-input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
  .form-label {
    @apply mx-auto max-w-md text-left block text-sm font-medium text-gray-700 mb-1;
  }
}

/* aタグ用のスタイル */
.atag {
  @apply text-[#810002] font-semibold hover:underline;
}

/* フラッシュメッセージ用のスタイル */
.alert-notice {
  @apply bg-[#d5f2dc] text-[#0f8100] p-1;
}
.alert-alert {
  @apply bg-[#f2d5d5] text-[#810002] p-1;
}
