/* フォント指定 */
body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

@layer components {

  /* 通常ボタン */
  .btn-primary {
    @apply bg-[#d5e8f2]/70 backdrop-blur-lg drop-shadow-lg rounded-lg border border-[#004681]/25 text-[#004681] font-bold text-center block max-w-3/4 mx-auto px-4 py-2 cursor-pointer hover:bg-blue-300;
  }

  .btn-secondary {
    @apply bg-[#f2d5d5]/70 backdrop-blur-lg drop-shadow-lg rounded-lg border border-[#810002]/25 text-[#810002] font-bold text-center block max-w-3/4 mx-auto px-4 py-2 cursor-pointer hover:bg-red-300;
  }

  .btn-thirdary {
    @apply bg-[#d9d9d9]/70 backdrop-blur-lg drop-shadow-lg rounded-lg border border-[#004681]/25 text-[#004681] font-bold text-center block max-w-3/4 mx-auto px-4 py-2 cursor-pointer hover:bg-gray-400;
  }

  /* フォーム */
  .form-input {
    @apply flex items-center w-3/4 px-4 py-2 mx-auto text-sm border border-[#004681] rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 bg-gray-300/30;
  }

  .form-label {
    @apply flex w-3/4 mb-1 mx-auto text-sm font-medium text-left text-[#004681];
  }

  /* aタグ用のスタイル */
  .atag {
    @apply text-[#810002] font-semibold hover:underline;
  }

  /* フラッシュメッセージ用のスタイル */
  .alert-success {
    @apply bg-[#d5f2dc]/70 backdrop-blur-lg border border-[#0f8100]/20 text-[#0f8100] indent-1 rounded-lg drop-shadow-lg m-2 p-2;

  }

  .alert-alert,
  .alert-danger {
    @apply bg-[#f2d5d5]/70 backdrop-blur-lg border border-[#810002]/20 text-[#810002] indent-1 rounded-lg drop-shadow-lg m-2 p-2;
  }

  /* ハンバーガーメニュー項目のスタイル jsからクラス名を参照中 */
  .hamburger-content {
    @apply bg-[#9ba9d0]/25 border-b-2 border-[#004681]/25 text-[#004681] indent-5 hover:bg-blue-300 py-3;
  }
}