  <% content_for(:title, t('.title')) %>

<div class="max-w-md p-6 mx-auto border rounded-md shadow-lg border-gray-500/20 backdrop-blur-lg bg-gray-50/10">

  <div class="text-5xl text-center my-15">ふ ゆ<br>あ し</div>
  <div class="mb-10 text-center text-sm">
    ※本アプリはMVPリリースバージョンです<br>
    雪かき作業の記録ができるようになります<br>
    ご利用には新規登録/ログインが必要です<br>
  </div>
  <!-- 新規登録とログインは別パーシャルで管理する -->
  <%= render "devise/shared/links" %>
</div>
