<% content_for(:title, t('.title')) %>

<div class="mx-auto max-w-md p-6 rounded-md border border-gray-200/20 shadow-3xl backdrop-blur-lg bg-gray-50/20">
  <div class="text-[#000000] text-5xl text-center mb-5">ふ ゆ<br>あ し</div>
  <div class="text-[#004681] text-center">暫定版トップページ</div>
  <div class="text-[#004681] text-center">雪かき作業の記録ができるようになります<br>ご利用には新規登録/ログインが必要です</div>
  <!-- 新規登録とログインは別パーシャルで管理する -->
  <%= render "devise/shared/links" %>
</div>
