  <% content_for(:title, t('.title')) %>

<div class="max-w-md p-6 mx-auto border rounded-md shadow-lg border-gray-500/20 backdrop-blur-lg bg-gray-50/10">
  <div class="text-center">
    <p>ご質問やご意見がございましたら、以下のボタンからお問い合わせフォームにアクセスしてください。</p>
    <p>📝 お問い合わせ内容の種別をお選びください</p>
    <p>📧 返信が必要な場合は、メールアドレスをご記入ください</p>
    <p>⏰ 通常3営業日以内にご返信いたします</p>
    <%= link_to "お問い合わせフォームへ(Googleフォームへ移動します)", "https://forms.gle/xV5FeYwngtt1HXeh6", class:"atag" %>
        <p>ブラウザバックで戻る</p>
  </div>
</div>
