<% content_for(:title, t('.title')) %>

<div class="max-w-md p-6 mx-auto border rounded-md shadow-lg border-gray-500/20 backdrop-blur-lg bg-gray-50/10">
  プライバシーポリシー用ページです
  <%= t('shared.back') %>
</div>
