services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
    volumes:
      - db_volumes:/var/lib/postgresql
  web:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    ports:
      - "3000:3000"
    volumes:
      - .:/myapp
      - bundle_data:/usr/local/bundle:cached
    depends_on:
      - db
volumes:
  db_volumes:
  bundle_data: