<!-- キーとバリューを取得してフラッシュメッセージを表示 -->
<% flash.each do |key, value| %>
  <%flash_class = case key.to_s
                  when 'alert'
                    'danger'  # alertをdangerに変換
                  when 'notice'
                    'success' # noticeをsuccessに変換
                  when 'error'
                    'danger'
                  else
                    key.to_s
                  end
  %>
  <%= content_tag(:div, value, class: "alert alert-#{flash_class}", data: { turbo_cache: false }) %>
<% end %>
  
<%# Deviseなどのresourceエラーも同じ形式で表示 %>
<% if defined?(resource) && resource.errors.any? %>
  <div class="alert alert-danger" data-turbo-cache="false">
    <%= I18n.t("errors.messages.not_saved") %>
  </div>
<% end %>
