<div class="bg-[#004681] text-[#f6f5fa] px-5 py-2">
  <div class="flex justify-center items-center gap-15">
    <%= image_tag "icons/home.svg" %>
    <%= image_tag "icons/station.svg" %>
    <%= image_tag "icons/log.svg" %>
    <%= image_tag "icons/profile.svg" %>
  </div>
</div>