<div class="bg-[#004681] text-[#f6f5fa] px-5 py-2">
  <div class="flex items-center justify-center bg-transparent gap-15">
    <div class="opacity-50 cursor-pointer transition w-12
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]">
      <%= svg_tag "home"%>
    </div>
    <div class="opacity-50 cursor-pointer transition w-12
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]">
      <%= svg_tag "station"%>
    </div>
    <div class="opacity-50 cursor-pointer transition w-12
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]">
      <%= svg_tag "log"%>
    </div>
    <div class="opacity-50 cursor-pointer transition w-12
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]">
      <%= svg_tag "profile"%>
    </div>
  </div>
</div>