<div class="bg-[#004681] text-[#f6f5fa] px-5 py-2">
  <div class="flex items-center justify-center bg-transparent gap-15">
    <%= image_tag "icons/home.svg",
        class: "opacity-50 cursor-pointer transition
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]
                active:opacity-100 active:drop-shadow-[0_0_25px_rgba(255,180,0,1)]"
    %>
    <%= image_tag "icons/station.svg",
        class: "opacity-50 cursor-pointer transition
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]
                active:opacity-100 active:drop-shadow-[0_0_25px_rgba(255,180,0,1)]"
    %>
    <%= image_tag "icons/log.svg",
        class: "opacity-50 cursor-pointer transition
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]
                active:opacity-100 active:drop-shadow-[0_0_25px_rgba(255,180,0,1)]"
    %>
    <%= image_tag "icons/profile.svg",
        class: "opacity-50 cursor-pointer transition
                hover:opacity-100 hover:drop-shadow-[5px_5px_1px_rgba(0,0,0,0.5)]
                active:opacity-100 active:drop-shadow-[0_0_25px_rgba(255,180,0,1)]"
    %>
  </div>
</div>