<div class="hamburger-menu hidden fixed top-16 right-0 w-50 h-300 bg-green-300 z-50">
  <!-- メニューの内容 -->
  <nav class="p-5">
    <!-- ナビゲーション項目 -->
    <ul class="p-2">項目1</ul>
    <ul class="p-2">項目2</ul>
    <ul class="p-2">項目3</ul>
  </nav>
</div>