<!-- デフォルトでは非表示にする -->
<div class="hamburger-menu hidden fixed top-16 right-0 w-64 h-300 bg-[#d5e8f2] shadow-lg z-50">
  <nav>
    <!-- メニュー項目 -->
      <ul class="hamburger-content">ログイン</ul>
      <ul class="hamburger-content">プライバシーポリシー</ul>
      <ul class="hamburger-content">利用規約</ul>
  </nav>
</div>