<div class="bg-[#004681] text-[#f6f5fa] p-5">
  <div class="flex justify-between items-center">
    <!-- アイコンとテキストをセットで左上に固定する -->
    <div class="text-left">
      <span>⛄️ </span>
      <span><%= current_user ? current_user.user_status.name : "ログインしていません" %></span>
    </div>
    <!-- ハンバーガーメニューボタンは右上に固定する -->
    <button class="cursor-pointer">🍔</button>
  </div>
</div>
