<div class="bg-[#004681] text-[#f6f5fa] px-5 py-2">
  <div class="flex items-center justify-between">
    <!-- テキストは左上に固定する -->
    <div class="flex items-center justify-center">
      <%= current_user ? "#{current_user.user_status.name} さん" : "ログインしていません" %>
    </div>
    <!-- ハンバーガーメニューボタンは右上に固定する -->
    <button class= "hamburger-button text-white opacity-50 w-12
                    transition
                    hover:opacity-100 hover:drop-shadow-[4px_4px_1px_rgba(0,0,0,1)]
                    active:opacity-100">
    <%= svg_tag "icons/hamburger"%>
    </button>
  </div>
</div>
